<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>Find a gift</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="__CSS__/admin_style.css" rel="stylesheet" type="text/css"/>
        <link href="__CSS__/app.min.css" rel="stylesheet" type="text/css"/>
        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
  </head>
    <body>        
        <nav class="sidebar">
         <include file="./Application/Admin/View/Common/left_menu.html" />   
        </nav>
        <section class="content">
        <section class="content__main">
          <div  id="right_content">
          <ol class="breadcrumb">
            <li><a href="#">后台首页</a></li>
            <li class="active">修改用户</li>
          </ol>
          <div class="right_div" id="addCategory">
            <div class="div_logo">修改用户</div>
            <div class="div_con">
              <form id="CategoryForm">
                <div class="form-group">
                  <label for="username">用户名称</label>
                  <input type="text" class="form-control" id="username" value="{$data.username}" disabled>
                </div>
                <div class="form-group">
                  <label for="password">登陆密码</label>
                  <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                  <label for="repassword">确认密码</label>
                  <input type="password" class="form-control" id="repassword">
                </div>
                <div id="CategoryBtn">
                  <button id="updateUser" type="button" class="btn btn-primary">修改用户</button>
                </div>
              </form>
            </div>
          </div>

        </div>   
        </section>        
        </section>
        
<!-- 引入公共js -->
        <include file="./Application/Admin/View/Common/common_js.html" />

    <script type="text/javascript">
      $("#updateUser").click(function(){
        var username = $('#username').val();
        var password = $('#password').val();
        var repassword = $('#repassword').val();
        if(password == ''){
          alert('密码不能为空');
        }else if(password !== repassword){
          alert('两次输入的密码不一致，请重新输入');
        }else{
          $.post("{:U('User/changePass')}",
            {username:username, password:password, repassword:repassword},
            function($result){
              alert($result);
              window.location.href="{:U('User/glyh')}";
            }
          );
        }
      });
    </script>
  
    </body>

</html>
