<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>Find a gift</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="__CSS__/admin_style.css" rel="stylesheet" type="text/css"/>
        <link href="__CSS__/app.min.css" rel="stylesheet" type="text/css"/>
        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
  </head>
    <body>        
        <nav class="sidebar">
         <include file="./Application/Admin/View/Common/left_menu.html" />   
        </nav>
        <section class="content">
        <section class="content__main">
          <!-- 右边内容页面 -->
                <div id="right_content">
                    <ol class="breadcrumb">
                        <li><a href="#">后台首页</a></li>
                        <li class="active">电商类别管理</li>
                    </ol>

          <div class="right_div" id="addCategory">
            <div class="div_logo">修改电商</div>
            <div class="div_con">
              <form id="CategoryForm">
                <div class="form-group">
                  <label for="CategoryName">电商名称</label>
                  <input type="text" class="form-control" id="CategoryName" value="{$data.category}">
                </div>
                <div class="form-group">
                  <label for="CategoryNum">排序</label>
                  <input type="text" class="form-control" id="CategoryNum" value="{$data.rank}">
                  <input type="text" class="form-control" id="CategoryId" value="{$data.id}" style="display:none">
                </div>
                <div id="CategoryBtn">
                  <button type="button" id="CategorySub" class="btn btn-primary">修改</button>
                </div>
              </form>
            </div>
          </div>

                </div>
   
        </section>        
        </section>
        
    <!-- 引入公共js -->
    <include file="./Application/Admin/View/Common/common_js.html" />

    <!-- 添加分类执行检测 -->
    <script type="text/javascript">
        $("#CategorySub").click(function () {
            var CateName = $("#CategoryName").val();
            var CateNum = $("#CategoryNum").val();
            var cateId = $("#CategoryId").val();
            if (CateName == '') {
                alert("分类名称不能为空");
            } else if (CateNum == '') {
                alert("排序不能为空");
            } else if (isNaN(CateNum)) {
                alert("排序必须为数字");
            } else {
                $.post(
                        "{:U('Basicinfo/SellerUpdate')}",
                        {CategoryName: CateName, rankNum: CateNum, id:cateId},
                function (result) {
                    alert(result);
                    window.location.href="{:U('Basicinfo/SellerShow')}";
                }
                );
            }
        });

    </script>
  
    </body>

</html>
