<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>Find a gift</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="__CSS__/admin_style.css" rel="stylesheet" type="text/css"/>
        <link href="__CSS__/app.min.css" rel="stylesheet" type="text/css"/>
        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>        
        <nav class="sidebar">
            <include file="./Application/Admin/View/Common/left_menu.html" />   
        </nav>
        <section class="content">
            <section class="content__main">
                <!-- 右边内容页面 -->
                <div id="right_content">
                    <button class="btn btn-primary" type="button" id="Up_cache">缓存更新</button>
                </div>   
            </section>        
        </section>

        <!-- 引入公共js -->
    <include file="./Application/Admin/View/Common/common_js.html" />

    <script type="text/javascript">
        $("#Up_cache").click(function () {
            $.post('{:U("Basicinfo/UpdateCache")}',
                    function (data) {
                        alert("缓存已更新！");
                    });
        });
    </script>  

</body>

</html>