/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-10-25, 10:47:47
    Author     : jingxin
*/
html,body {
    color:white;
    line-height: 1.75em;
    font-family: 'Microsoft YaHei', '微软雅黑';
}

.home-template {background-image:url('../images/44e1c4e50d55159c65da6a41bc07e.jpg');
}

.main-header {text-align: center;
              padding: 10px 0;
}

.main-header h1{
    font-size: 5em;
    //display:inline-block;
    vertical-align: middle;
    font-family: 'Algerian';
}

.main-header img{
    height: 80px;
    width: 80px;
}

.main-header p{
    font-size: 1.75em;
}

.blank {
    padding-bottom: 10px;
}

.main-footer {
    color:#cccccc;
    font-size: 12px;
    bottom: 20px;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    //position: absolute;
    text-align: center;
    width: 100%;
}

.content-wrap .pic {
    height: 60px;
    width: 60px;
}

.content-wrap .question {
    font-size: 16px; 
    height:90px; 
    line-height:50px; 
}

.searchButton {
    margin: 50px auto;
}

#steps-fivepercent-slider .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    top: -30px;
}

.percen{
    font-size: 16px; 
   // height:25px; 
    line-height:16px; 

}

.ui-slider.ui-slider-horizontal{margin-bottom:4em}.ui-slider.ui-slider-horizontal .ui-slider-handle{width:15px;height:25px;margin-left:-7px;top:-7px}.ui-slider.ui-slider-vertical .ui-slider-handle{width:25px;height:15px;margin-bottom:-7px;left:-7px}.ui-widget-content .ui-slider-handle.ui-state-default{background:#434d5a;border-color:#434d5a}.ui-widget-content .ui-slider-handle.ui-state-active,.ui-widget-content .ui-slider-handle.ui-state-focus,.ui-widget-content .ui-slider-handle.ui-state-hover{background:#00c7d7;border-color:#00c7d7}.ui-widget-content .ui-slider-handle.ui-state-focus{outline:0;border-color:#434d5a}.block{padding:4em 1em}.block:nth-child(1){padding-top:0}


