    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<!-- 左边菜单栏点击展开和收起 -->
    <script type="text/javascript">
      $(".nav_list").each(function(){
        $(this).click(function(){
         var nav_id = $(this).attr("id");
         var sub_nav_id = $("#"+nav_id).find("ul").attr("id");
         $("#"+sub_nav_id).toggle();
        })
      });
    </script>